services:
  mosquitto:
    build: .
    ports:
      - "1883:1883"
      - "9001:9001"
    environment:
      MQTT_USER: "${MQTT_USER}"
      MQTT_PASSWORD: "${MQTT_PASSWORD}"
      # MQTT_ALLOW_ANONYMOUS: "true"
    volumes:
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
    restart: unless-stopped
    
